/* You can add global styles to this file, and also import other style files */

body {
  height: 200vh;
}

button {
  margin-top: 100px;
}

.popper {
  display: inline-block;
  background: #eee;
  border-radius: 3px;
  padding: 10px;

  &[x-placement^="bottom"] {
    margin-top: 15px;
  }

  &[x-placement^="top"] {
    margin-bottom: 15px;
  }

  &[x-placement^="right"] {
    margin-left: 15px;
  }

  &[x-placement^="left"] {
    margin-right: 15px;
  }

  &__arrow {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;

    border: {
      style: solid;
      width: 10px;
      color: transparent;
    }
  }

  &[x-placement^="top"] &__arrow {
    border-bottom-width: 0;
    border-top-color: #eee;
    bottom: -10px;
  }

  &[x-placement^="bottom"] &__arrow {
    border-top-width: 0;
    border-bottom-color: #eee;
    top: -10px;
  }

  &[x-placement^="right"] &__arrow {
    border-left-width: 0;
    border-right-color: #eee;
    left: -10px;
  }

  &[x-placement^="left"] &__arrow {
    border-right-width: 0;
    border-left-color: #eee;
    right: -10px;
  }
}
